<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="src/css/global.css">
    <link rel="stylesheet" href="src/css/login.css">
</head>
<body class="container">
    <div class="trans"></div>
    <form action="login/validation"  method="post">
        <div class="circle">
        <div class="title">
            <h1>INICIAR SESION</h1>
        </div>
        <div class="c-rows">
            <label for="user">USUARIO:</label>
            <input autofocus="autofocus" type="text" id="user" name="email" placeholder="Ingresar Usuario">
        </div>
        <div class="c-rows">
            <label for="clave">CONTRASEÑA:</label>
            <input type="password" id="clave" name="password" placeholder="Ingresar Constraseña">
        </div>      
        <div class="c-button">
            <button type="submit" value="submit">Iniciar Sesion</button>
        </div>  
        </div>
    </form>
</body>
</html>